{% macro viewDataBulletlist(params) %}
  {% if params.data %}
    <div data-test-id="{{ params.dataTestIdIdentifier }}" class="bc-c-data-bulletlist {{ params.classes }}">
        <ul class="nhsuk-u-margin-bottom-0">
          {% for dataItem in params.data %}
            {% if dataItem.trim() %}
              <li>{{ dataItem }}</li>
            {% endif %}
          {% endfor %}
        </ul>
    </div>
  {% endif %}
{% endmacro %}
