{% extends 'views/includes/layout.njk' %}
{% from 'components/view-data-bulletlist/macro.njk' import viewDataBulletlist %}

{% block body %}
  <h1>View data bulletlist component</h1>

  <h3>To use the component</h3>
  <pre><code>
    {% verbatim %}
      {% from 'components/view-data-bulletlist/macro.njk' import viewDataBulletlist %}

      {{ viewDataBulletlist({
        dataTestId: 'some-test-identifier',
        data: ["first data", "second data", "third data"],
        classes: "another-class"
      }) }}
    {% endverbatim %}
  </code></pre>

  <h3>Rendered component</h3>
  {{ viewDataBulletlist({
    dataTestId: 'some-test-identifier',
    data: ["first data", "second data", "third data"],
    classes: "another-class"
  }) }}
{% endblock %}
