{% macro loginLogout(params) %}
  {% if params %}
  <div data-test-id="{{ params.dataTestId }}" class="bc-c-login-logout {{ params.classes }}">
    {% if params.username %}

      {% set loggedInText = "Logged in as: " + params.username %}
      {% if params.organisation %}
        {% set loggedInText = loggedInText + " for " + params.organisation %}
      {% endif %}

      <span data-test-id="logged-in" class="bc-u-display-inline-block">
        <span data-test-id="logged-in-text">
          {{loggedInText}}
        </span>
        <a data-test-id="logout-link" class="nhsuk-header__link bc-u-display-inline nhsuk-u-margin-left-4" href="{{ params.logoutUrl }}" aria-label="Log out">
          Log out
        </a>
      </span>
    {% else %}
      <span data-test-id="logged-out" class="bc-u-display-inline-block">
        <a data-test-id="login-link" class="nhsuk-header__link bc-u-display-inline" href="{{ params.loginUrl }}" aria-label="Log in">
          Log in
        </a>
      </span>
    {% endif %}
  </div>
  {% endif %}
{% endmacro %}
