{# API returns 'document-name' which is transformed into 'document-link' in createContext function #}
{% from 'components/view/view-section-table-row/macro.njk' import viewSectionTableRow %}
{% from 'components/view/view-data-text/macro.njk' import viewDataText %}
{% from 'components/view/view-data-link/macro.njk' import viewDataLink %}
{% from 'components/view/view-section-heading/macro.njk' import viewSectionHeading %}

{% macro viewSupplierAssertedIntegrations(params) %}
  {% if params %}
    <div data-test-id="view-supplier-asserted-integrations">
      {{ viewSectionTableRow({
        questionId: 'supplier-asserted-integrations',
        questionTitle: 'Supplier asserted integrations',
        layout: 'vertical',
        classes: 'bc-t-border--none',
        innerComponent: viewDataText({
          dataTestId: 'view-data-text-additional-information',
          data: 'Supplier assured integrations are interoperability interfaces prepared by a supplier and are not specified or assured by the NHS.'
        }) + viewDataLink({
          dataTestId: 'view-question-data-text-link-supplier-integrations',
          data: params.section.answers.link
        })
      })}}
    </div>
  {% endif %}
{% endmacro %}
