.bc-c-data-title__text {
  @include nhsuk-typography-responsive(19);
  display: block;
  font-weight: $nhsuk-font-bold;
  margin-top: 0;
  margin-bottom: nhsuk-spacing(1);
  @include nhsuk-responsive-margin(1, 'bottom');
}
