{% from 'components/label/macro.njk' import label %}
{% from 'components/error-message/macro.njk' import errorMessage %}

{% macro viewQuestionTitle(params) %}
  <div data-test-id="view-question-title">
    {{ label({
      "classes": "nhsuk-label--s nhsuk-u-margin-bottom-3",
      "text": params.questionTitle
    }) }}
  </div>
{% endmacro %}