{% from 'components/label/macro.njk' import label %}
{% from 'components/error-message/macro.njk' import errorMessage %}

{% macro viewQuestionTitle(params) %}
  <div data-test-id="view-question-title">
    <h4 class="bc-c-data-title__text">
      {{ params.questionTitle }}
    </h4>
  </div>
{% endmacro %}