{% extends 'views/includes/layout.njk' %}
{% from 'components/view-question-title/macro.njk' import viewQuestionTitle %}

{% block body %}
  <h1>View question data text component</h1>

  <h3>To use the component</h3>
  <pre><code>
    {% verbatim %}
      {% from 'components/view-question-title/macro.njk' import viewQuestionTitle %}

      {{ viewQuestionTitle({
          questionTitle: 'Title',
          classes: 'another-class'
      }) }}
    {% endverbatim %}
  </code></pre>

  <h3>Generated HTML</h3>
  <pre><code>
    {{- "
      <h4 data-test-id='view-question-title' class='bc-c-data-title__text another-class'>
        Title
      </h4>
    " }}
  </code></pre>

  <h3>Rendered component</h3>
  {{ viewQuestionTitle({
    questionTitle: 'Title',
    classes: 'another-class'
  }) }}
{% endblock %}