.bc-c-title-block {
  background-color: $color_nhsuk-grey-5;
  border-bottom: 2px solid $color_nhsuk-blue;
  margin-bottom: nhsuk-spacing(5);
  margin-top: nhsuk-spacing(9);
  padding-left: nhsuk-spacing(3);
}
