{% extends 'views/includes/layout.njk' %}
{% from 'components/view-section-heading/macro.njk' import viewSectionHeading %}

{% block body %}
  <h1>View Section Heading component</h1>

  <h3>To use the component</h3>
  <pre><code>
    {% verbatim %}
      {% from 'components/view-section-heading/macro.njk' import viewSectionHeading %}

      {{ viewSectionHeading({
        dataTestId: 'some-test-identifier',
        text: 'Example section heading'
      }) }}
    {% endverbatim %}
  </code></pre>

  <h3>Rendered component</h3>
  {{ viewSectionHeading({
    dataTestId: 'some-test-identifier',
    text: 'Example section heading'
  }) }}
{% endblock %}
