{% from './components/nhs-digital-svg.njk' import nhsDigitalSvg %}
{% from './components/beta-banner.njk' import betaBanner %}

{% macro bcHeader(params) %}
  {% if params.showBetaBanner %}
    <div data-test-id="beta-banner">
      {{ betaBanner({ termsHref: params.termsHref }) }}
    </div>
  {% endif %}

  <header data-test-id="{{ params.dataTestId }}" class="bc-c-header nhsuk-header nhsuk-header--organisation nhsuk-header--white {{ params.classes }}" role="banner">
    <div class="nhsuk-width-container">
      <div class="nhsuk-header__logo">
        <a class="nhsuk-header__link" href="{{ params.logoLink.href }}" aria-label="{{ params.logoLink.ariaLabel }}">
          {{ nhsDigitalSvg() }}
        </a>
      </div>
      {% if params.innerComponent %}
        <div class="nhsuk-header__content" id="content-header">
          {{- params.innerComponent | safe | trim }}
        </div>
      {% endif %}
    </div>
  </header>
{% endmacro %}
