{% from 'components/header/macro.njk' import header %}
{% from 'components/login-logout/macro.njk' import loginLogout %}

{{ header({
    innerComponent: loginLogout({
      username: 'NHS Digital'
    })
  })
}}
