{% from 'components/general/bc-header/macro.njk' import bcHeader %}
{% from 'components/general/login-logout/macro.njk' import loginLogout %}

{{ bcHeader({
    innerComponent: loginLogout({
      username: 'NHS Digital'
    }),
    classes: "nhsuk-header__container"
  })
}}
