@import 'main.scss';

// these classes are just used for displaying the templates in this app and are not bundled with the npm release

.bcc-t-bg-white {
  background: $color_nhsuk-white;
}

.bcc-t-bg-pale-yellow {
  background: $color_nhsuk-pale-yellow;
}

.bcc-c-try-button {
  float:right;
  background-color:$color_nhsuk-green;
  color:$color_nhsuk-white;
  box-shadow:0 4px 0 #00401e;
  padding:6px 8px;
  box-sizing:border-box;
  border: 2px solid transparent;
  border-radius: 4px;
  font-weight: 600;
}

.bcc-body {
  height:100% !important;
}
