@import 'main';

// these classes are just used for displaying the templates in this app and are not bundled with the npm release
$color_nhsuk-green--shadow: #00401e;

.bcc-t-bg-white {
  background: $color_nhsuk-white;
}

.bcc-t-bg-pale-yellow {
  background: $color_nhsuk-pale-yellow;
}

.bcc-c-try-button {
  background-color: $color_nhsuk-green;
  border: 2px solid transparent;
  border-radius: 4px;
  box-shadow: 0 4px 0 $color_nhsuk-green--shadow;
  box-sizing: border-box;
  color: $color_nhsuk-white;
  float: right;
  font-weight: 600;
  margin-right: -(nhsuk-spacing(4)) !important;
  margin-top: -4px !important;
  padding: 6px 8px;
}

.bcc-body {
  height: 100% !important;
}

.bcc-c-code-title {
  background: #191919;
  border-radius: 5px 5px 0 0;
  color: #fff;
  margin-bottom: 0;
  padding: nhsuk-spacing(3) nhsuk-spacing(5);
  position: relative;
  z-index: 12;
}

.bcc-c-code-block {
  background: #222;
  color: #fff;
  font-family: monospace;
  font-size: 14px;
  max-height: 500px;
  overflow: scroll;
  padding: 26px;
  width: 100%;

  /* width */
  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #191919;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .2);
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, .4);
  }

  /* Corner */
  &::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
  }

}

.bcc-c-code-key-label {
  display: inline-block;
  font-family: monospace;
  font-size: 14px;
  white-space: pre;
}

.bcc-c-code-editable-content {
  background: none;
  border: none;
  border-bottom: 1px dashed rgba(255, 255, 255, .3);
  box-shadow: none;
  font-family: monospace;
  font-size: 14px;
  outline: none;
  white-space: pre;

  &:hover, &:focus {
    background: rgba(255, 255, 255, .05);
  }

  span {
    outline: none;
  }

}

.bcc-c-code-json-block {
  padding-left: 2em;
}

.bcc-c-code-json-object {
  padding-left: 1em;
}

.bcc-c-code-json-array {
  padding-left: 1em;
}

.bcc-u-code-primary-color {
  color: #ce9075;
}

.bcc-u-code-secondary-color {
  color: #a3e9ff;
}

.bcc-c-code-nested {
  white-space: nowrap;
  &:hover {
    border-left: 4px solid rgba(255, 255, 255, .02);
    margin-left: -12px;
    padding-left: 8px;
  }
}

.bcc-c-display-title {
  background: #005eb8;
  color: #fff;
  margin-bottom: 0;
  padding: nhsuk-spacing(3) nhsuk-spacing(5);
}
.bcc-c-display-block {
  background: #fff;
  border-radius: 0 0 5px 5px;
  margin-bottom: -(nhsuk-spacing(4)) ;
  padding: nhsuk-spacing(5);
}
