{% from 'components/view/components/view-section-table-row/macro.njk' import viewSectionTableRow %}
{% from 'components/view/components/view-data-bulletlist/macro.njk' import viewDataBulletlist %}
{% from 'components/view/components/view-data-text/macro.njk' import viewDataText %}

{% macro viewNativeDesktop(params) %}
  <dl data-test-id="view-section-table-native-desktop" class="nhsuk-summary-list">
    {{ viewSectionTableRow({
      questionId: 'operating-systems-description',
      questionTitle: 'Supported operating systems',
      layout: 'vertical',
      innerComponent: viewDataText({
        dataTestId: 'view-question-data-text-operating-systems-description',
        data: params.section.sections['native-desktop-operating-systems'].answers['operating-systems-description']
      })
    }) }}
    {{ viewSectionTableRow({
      questionId: 'minimum-connection-speed',
      questionTitle: 'Minimum connection speed',
      innerComponent: viewDataText({
        dataTestId: 'view-question-data-text-minimum-connection-speed',
        data: params.section.sections['native-desktop-connection-details'].answers['minimum-connection-speed']
      })
    }) }}
    {{ viewSectionTableRow({
      questionId: 'minimum-memory-requirement',
      questionTitle: 'Memory size',
      innerComponent: viewDataText({
        dataTestId: 'view-question-data-text-minimum-memory-requirement',
        data: params.section.sections['native-desktop-memory-and-storage'].answers['minimum-memory-requirement']
      })
    }) }}
    {{ viewSectionTableRow({
      questionId: 'storage-requirements-description',
      questionTitle: 'Storage space',
      innerComponent: viewDataText({
        dataTestId: 'view-question-data-text-storage-requirements-description',
        data: params.section.sections['native-desktop-memory-and-storage'].answers['storage-requirements-description']
      })
    }) }}
    {{ viewSectionTableRow({
      questionId: 'minimum-cpu',
      questionTitle: 'Processing power',
      innerComponent: viewDataText({
        dataTestId: 'view-question-data-text-minimum-cpu',
        data: params.section.sections['native-desktop-memory-and-storage'].answers['minimum-cpu']
      })
    }) }}
    {{ viewSectionTableRow({
      questionId: 'recommended-resolution',
      questionTitle: 'Screen resolution and aspect ratio',
      innerComponent: viewDataText({
        dataTestId: 'view-question-data-text-recommended-resolution',
        data: params.section.sections['native-desktop-memory-and-storage'].answers['recommended-resolution']
      })
    }) }}
    {{ viewSectionTableRow({
      questionId: 'third-party-components',
      questionTitle: 'Third-party components',
      layout: 'vertical',
      innerComponent: viewDataText({
        dataTestId: 'view-question-data-text-third-party-components',
        data: params.section.sections['native-desktop-third-party'].answers['third-party-components']
      })
    }) }}
    {{ viewSectionTableRow({
      questionId: 'device-capabilities',
      questionTitle: 'Device capabilities',
      layout: 'vertical',
      innerComponent: viewDataText({
        dataTestId: 'view-question-data-text-device-capabilities',
        data: params.section.sections['native-desktop-third-party'].answers['device-capabilities']
      })
    }) }}
    {{ viewSectionTableRow({
      questionId: 'hardware-requirements',
      questionTitle: 'Hardware requirements',
      layout: 'vertical',
      innerComponent: viewDataText({
        dataTestId: 'view-question-data-text-hardware-requirements',
        data: params.section.sections['native-desktop-hardware-requirements'].answers['hardware-requirements']
      })
    }) }}

    {{ viewSectionTableRow({
      questionId: 'additional-information',
      questionTitle: 'Additional information',
      layout: 'vertical',
      innerComponent: viewDataText({
        dataTestId: 'view-question-data-text-additional-information',
        data: params.section.sections['native-desktop-additional-information'].answers['additional-information']
      })
    }) }}
  </dl>
{% endmacro %}
