
{% macro bcErrorWrapper(params) %}
  <div id="{{ params.id }}" data-test-id="{{ params.dataTestId }}" class="{{ param.classes }}">

    {% if params.errorMessages %}
    <div class=" nhsuk-u-margin-top-0 nhsuk-form-group nhsuk-form-group--error">
        {% for errorMessage in params.errorMessages %}
        <span data-test-id="{{ params.dataTestId }}-error" class="nhsuk-error-message">
          {% if errorMessage.text %}
            {{ errorMessage.text }}
          {% else %}
            {{ errorMessage }}
          {% endif %}
        </span>
        {% endfor %}
      {{- params.innerComponent | safe | trim }}
    </div>
    {% else %}
      {{- params.innerComponent | safe | trim }}
    {% endif %}

  </div>
{% endmacro %}
