{% extends 'views/includes/layout.njk' %}
{% from 'sections/view-about-supplier/macro.njk' import viewAboutSupplier %}

{% block body %}
  <h1>View About supplier</h1>

  <h3>To use the component</h3>
  <pre><code>
    {% verbatim %}
      {% from 'sections/view-solution-description/macro.njk' import viewSolutionDescription %}

      {{ viewAboutSupplier({
        section: {
          answers: {
            description: 'Some supplier description data',
            link: 'www.somelink.com'
          }
        }
      }) }}
    {% endverbatim %}
  </code></pre>

  <h3>Rendered component</h3>
  {{ viewAboutSupplier({
    section: {
      answers: {
        description: 'Some supplier description data',
        link: 'www.somelink.com'
      }
    }
  }) }}
{% endblock %}