{# API returns 'document-name' which is transformed into 'document-link' in createContext function #}
{% from 'components/view/view-section-table-row/macro.njk' import viewSectionTableRow %}
{% from 'components/view/view-data-text/macro.njk' import viewDataText %}
{% from 'components/view/view-data-link/macro.njk' import viewDataLink %}
{% from 'components/view/view-section-heading/macro.njk' import viewSectionHeading %}
{% from 'sections/view-supplier-asserted-integrations/macro.njk' import viewSupplierAssertedIntegrations %}
{% from 'sections/view-authority-asserted-integrations/macro.njk' import viewAuthorityAssertedIntegrations %}

{% macro viewIntegrations(params) %}
  {% if params.section.answers.link %}
    {% set hasSupplierIntegrationsSections = true %}
  {% endif %}
  {% if params.section.answers['document-link'] %}
    {% set hasAuthorityIntegrationsSections = true %}
  {% endif %}

  {% if hasSupplierIntegrationsSections or hasAuthorityIntegrationsSections %}
    <div data-test-id="view-integrations" class="nhsuk-width-container">
      {{ viewSectionHeading({ text: 'Integrations' }) }}
      <div class="nhsuk-grid-row nhsuk-u-padding-left-3 nhsuk-u-padding-right-3">
        {{ viewDataText({
          dataTestId: 'view-integrations-guidance',
          data: 'View information about the systems this Catalogue Solution integrates with to exchange data:',
          classes: 'bc-t-font-color--grey-1 nhsuk-u-margin-bottom-3 nhsuk-grid-column-two-thirds'
        }) }}
        <div class="nhsuk-grid-column-full">
          {% if hasAuthorityIntegrationsSections %}
            {{ viewAuthorityAssertedIntegrations({
              section: params.section
            })}}
          {% endif %}
          {% if hasSupplierIntegrationsSections %}
            {{ viewSupplierAssertedIntegrations({
              section: params.section
            })}}
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
{% endmacro %}
