{% from 'components/details/macro.njk' import details %}

{% macro viewExpandableSection(params) %}
  <div data-test-id="{{ params.dataTestIdIdentifier }}" class="{{ params.classes }}">
    {{ details({
      "text": params.title,
      "HTML": params.innerComponent
    }) }}
  </div>
{% endmacro %}
