{% extends 'views/includes/layout.njk' %}
{% from 'components/view-expandable-section/macro.njk' import viewExpandableSection %}

{% block body %}
  <h1>View Expandable Section component</h1>

  <h3>To use the component</h3>
  <pre><code>
    {% verbatim %}
      {% from 'components/view-expandable-section/macro.njk' import viewExpandableSection %}

      {{ viewExpandableSection({
          dataTestIdIdentifier: 'view-section-some-section-id',
          title: 'Some section title',
          innerComponent: '&ltdiv&gt;Some inner component&lt/div&gt;'
      }) }}
    {% endverbatim %}
  </code></pre>

  <h3>Rendered component</h3>
  {{ viewExpandableSection({
      dataTestIdIdentifier: 'view-section-some-section-id',
      title: 'Some section title',
      innerComponent: '<div>Some inner component</div>'
  }) }}
{% endblock %}
