{% from 'components/view-question-data-bulletlist/macro.njk' import viewQuestionDataBulletlist %}

{% macro viewSolutionCapabilities(params) %}
  {% if params.section %}
    <div data-test-id="view-solution-capabilities">
      <div class="bc-c-title-block">
        <h3 class="nhsuk-u-margin-bottom-2">Capabilities met</h3>
      </div>
      <div class="nhsuk-u-padding-left-3">
        {{ viewQuestionDataBulletlist({
          questionData: params.section.answers['capabilities-met']
        }) }}
      </div>
    </div>
  {% endif %}
{% endmacro %}
