{% from 'components/view-question-data-bulletlist/macro.njk' import viewQuestionDataBulletlist %}
{% from 'components/view-section-heading/macro.njk' import viewSectionHeading %}

{% macro viewSolutionCapabilities(params) %}
  {% if params.section %}
    <div class="nhsuk-width-container" data-test-id="view-solution-capabilities">
      <div class="nhsuk-grid-row">
        {{ viewSectionHeading({text: 'Capabilities met'}) }}
        <div class="nhsuk-grid-column-two-thirds">
          {% if params.section.description %}
            <p>
              {{ params.section.description }}
            </p>
          {% endif %}
          <div>
            {{ viewQuestionDataBulletlist({
            questionData: params.section.answers['capabilities-met']
            }) }}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endmacro %}
