{% from 'components/view/components/view-data-bulletlist/macro.njk' import viewDataBulletlist %}
{% from 'components/view/components/view-section-heading/macro.njk' import viewSectionHeading %}

{% macro viewSolutionCapabilities(params) %}
  {% if params.section %}
    <div class="nhsuk-width-container" data-test-id="view-solution-capabilities">
        {{ viewSectionHeading({ text: 'Capabilities met' }) }}
        <div class="nhsuk-grid-row nhsuk-u-padding-left-3">
          <div class="nhsuk-grid-column-two-thirds">
            {% if params.description %}
              <p>
                {{ params.description }}
              </p>
            {% endif %}
            <div>
              {{ viewDataBulletlist({
                dataTestId: 'view-question-data-bulletlist',
                data: params.section.answers['capabilities-met']
              }) }}
            </div>
          </div>
        </div>
    </div>
  {% endif %}
{% endmacro %}
