{% extends 'views/includes/layout.njk' %}
{% from 'sections/view-solution-capabilities/macro.njk' import viewSolutionCapabilities %}

{% block body %}
  <h1>View Solution Capabilities</h1>

  <h3>To use the component</h3>
  <pre><code>
    {% verbatim %}
      {% from 'components/view-solution-capabilities/macro.njk' import viewSolutionContactDetails %}

      {{ viewSolutionCapabilities({
        description: "description",
        section: {
          answers: {
            'capabilities-met': ['capability 1', 'capability 2', 'capability 3']
          }
        }
      }) }}
    {% endverbatim %}
  </code></pre>

  <h3>Generated HTML</h3>
  <pre><code>
    {{- '
    <div class="nhsuk-width-container" data-test-id="view-solution-capabilities">
      <div class="bc-c-title-block">
        <h3 class="nhsuk-u-margin-bottom-2">Capabilities met</h3>
      </div>
      <div class="nhsuk-grid-row nhsuk-u-padding-left-3">
        <div class="nhsuk-grid-column-two-thirds">
          <p>
            description
          </p>
          <div>
            <div data-test-id='view-question-data-bulletlist'>
              <ul>
                <li class='bc-c-data-bulletlist__text'>
                  capability 1
                </li>
                <li class='bc-c-data-bulletlist__text'>
                  capability 2
                </li>
                <li class='bc-c-data-bulletlist__text'>
                  capability 3
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    ' }}
  </code></pre>

  <h3>Rendered component</h3>
  {{ viewSolutionCapabilities({
    description: "description",
    section: {
      answers: {
        'capabilities-met': ['capability 1', 'capability 2', 'capability 3']
      }
    }
  }) }}
{% endblock %}