{% from 'components/view/components/view-section-table-row/macro.njk' import viewSectionTableRow %}
{% from 'components/view/components/view-data-bulletlist/macro.njk' import viewDataBulletlist %}
{% from 'components/view/components/view-data-text/macro.njk' import viewDataText %}
{% from 'components/view/components/view-summary-list/nhsuk-macro.njk' import summaryList %}

{% macro viewNativeMobile(params) %}
  <div data-test-id="view-section-dl-native-mobile" class="nhsuk-summary-list">
    {{ summaryList({
      rows: [
        {
          key: {
            text: 'Supported operating systems'
          },
          value: {
            html: viewDataBulletlist({
              dataTestId: 'view-question-data-bulletlist',
              data: params.section.sections['native-mobile-operating-systems'].answers['operating-systems']
            })
          },
          actions: {}
        },
        {
          key: {
            text: 'Description of supported operating systems'
          },
          value: {
            html: viewDataText({
              dataTestId: 'view-question-data-text-operating-systems-description',
              data: params.section.sections['native-mobile-operating-systems'].answers['operating-systems-description']
            })
          },
          actions: {}
        },
        {
          key: {
            text: 'Mobile first approach'
          },
          value: {
            html: viewDataText({
              dataTestId: 'view-question-data-text-mobile-first-design',
              data: params.section.sections['native-mobile-first'].answers['mobile-first-design']
            })
          },
          actions: {}
        },
        {
          key: {
            text: 'Minimum connection speed'
          },
          value: {
            html: viewDataText({
              dataTestId: 'view-question-data-text-minimum-connection-speed',
              data: params.section.sections['native-mobile-connection-details'].answers['minimum-connection-speed']
            })
          },
          actions: {}
        },
        {
          key: {
            text: 'Connection types supported'
          },
          value: {
            html: viewDataBulletlist({
              dataTestId: 'view-question-data-bulletlist',
              data: params.section.sections['native-mobile-connection-details'].answers['connection-types']
            })
          },
          actions: {}
        },
        {
          key: {
            text: 'Connection requirements'
          },
          value: {
            html: viewDataText({
              dataTestId: 'view-question-data-text-connection-requirements-description',
              data: params.section.sections['native-mobile-connection-details'].answers['connection-requirements-description']
            })
          },
          actions: {}
        },
        {
          key: {
            text: 'Memory size'
          },
          value: {
            html: viewDataText({
              dataTestId: 'view-question-data-text-minimum-memory-requirement',
              data: params.section.sections['native-mobile-memory-and-storage'].answers['minimum-memory-requirement']
            })
          },
          actions: {}
        },
        {
          key: {
            text: 'Storage space'
          },
          value: {
            html: viewDataText({
              dataTestId: 'view-question-data-text-storage-requirements-description',
              data: params.section.sections['native-mobile-memory-and-storage'].answers['storage-requirements-description']
            })
          },
          actions: {}
        },
        {
          key: {
            text: 'Third-party components'
          },
          value: {
            html: viewDataText({
              dataTestId: 'view-question-data-text-third-party-components',
              data: params.section.sections['native-mobile-third-party'].answers['third-party-components']
            })
          },
          actions: {}
        },
        {
          key: {
            text: 'Device capabilities'
          },
          value: {
            html: viewDataText({
              dataTestId: 'view-question-data-text-device-capabilities',
              data: params.section.sections['native-mobile-third-party'].answers['device-capabilities']
            })
          },
          actions: {}
        },
        {
          key: {
            text: 'Hardware requirements'
          },
          value: {
            html: viewDataText({
              dataTestId: 'view-question-data-text-hardware-requirements',
              data: params.section.sections['native-mobile-hardware-requirements'].answers['hardware-requirements']
            })
          },
          actions: {}
        },
        {
          key: {
            text: 'Additional information'
          },
          value: {
            html: viewDataText({
              dataTestId: 'view-question-data-text-additional-information',
              data: params.section.sections['native-mobile-additional-information'].answers['additional-information']
            })
          },
          actions: {}
        }
      ]
    }) }}
  </div>
{% endmacro %}
