{% extends 'views/includes/layout.njk' %}
{% from 'sections/view-native-mobile/macro.njk' import viewNativeMobile %}

{% block body %}
  <h1>View Native Mobile</h1>

  <h3>To use the component</h3>
  <pre><code>
    {% verbatim %}
      {% from './sections/view-native-mobile/macro.njk' import viewNativeMobile %}

       {{ viewNativeMobile({
          section: {
            sections: {
              'native-mobile-operating-systems': {
                answers: {
                  'operating-systems': ['Apple IOS', 'Android', 'Other'],
                  'operating-systems-description': 'Android 4.1 and above, IOS 10.6 and above.'
                }
              },
              'native-mobile-first': {
                answers: {
                  'mobile-first-design': 'Yes'
                }
              },
              'native-mobile-memory-and-storage': {
                answers: {
                  'minimum-memory-requirement': '4GB',
                  'storage-requirements-description': 'You will need at least 4GB of free space on each device the application is installed. It is advised to use an external SD card for additional storage.'
                }
              },
              'native-mobile-connection-details': {
                answers: {
                  'minimum-connection-speed': '1Mbps',
                  'connection-types': ['GPRS','3G','4G','Wifi'],
                  'connection-requirements-description': 'Average data usage will vary depending on application activity.'
                }
              },
              'native-mobile-additional-information': {
                answers: {
                  'additional-information': 'It is possible that it may install on other platforms or versions not listed in this section. However, support is limited to systems that meet the minimum requirements.'
                }
              }
            }
          }
        }) }}
    {% endverbatim %}
  </code></pre>

  <h3>Rendered component</h3>
  {{ viewNativeMobile({
    section: {
      sections: {
        'native-mobile-operating-systems': {
          answers: {
            'operating-systems': ['Apple IOS', 'Android', 'Other'],
            'operating-systems-description': 'Android 4.1 and above, IOS 10.6 and above.'
          }
        },
        'native-mobile-first': {
          answers: {
            'mobile-first-design': 'Yes'
          }
        },
        'native-mobile-memory-and-storage': {
          answers: {
            'minimum-memory-requirement': '4GB',
            'storage-requirements-description': 'You will need at least 4GB of free space on each device the application is installed. It is advised to use an external SD card for additional storage.'
          }
        },
        'native-mobile-connection-details': {
          answers: {
            'minimum-connection-speed': '1Mbps',
            'connection-types': ['GPRS','3G','4G','Wifi'],
            'connection-requirements-description': 'Average data usage will vary depending on application activity.'
          }
        },
        'native-mobile-additional-information': {
          answers: {
            'additional-information': 'It is possible that it may install on other platforms or versions not listed in this section. However, support is limited to systems that meet the minimum requirements.'
          }
        }
      }
    }
  }) }}
{% endblock %}
