{% macro viewSectionTableRow(params) %}

  {% if params.layout %}
    {% set layout = params.layout | lower %}
    {% if params.verticalInnerComponentClass %}
      {% set verticalInnerComponentClass = params.verticalInnerComponentClass %}
    {% else %}
      {% set verticalInnerComponentClass = 'nhsuk-grid-column-two-thirds' %}
    {% endif %}
  {% else %}
    {% set layout = 'horizontal' %}
  {% endif %}

  {% set commonAttributes %} data-test-id="view-section-table-row-{{ params.questionId }}" class="nhsuk-width-container bc-c-section-table-row {{ params.classes }}"{%- endset -%}

  {% if params.innerComponent | trim | length > 0 %}
    {% if layout == 'horizontal' %}
      <div {{ commonAttributes | safe }}>
        <div data-test-id="view-section-table-row-horizontal" class="nhsuk-grid-row">
          {% if params.questionTitle %}
            <h4 data-test-id="view-section-table-row-title" class="nhsuk-heading-xs nhsuk-u-font-weight-bold nhsuk-grid-column-one-half">
              {{ params.questionTitle }}
            </h4>
          {% endif %}
          <div data-test-id="view-section-table-row-component" class="nhsuk-grid-column-one-half">
            {{- params.innerComponent | safe | trim }}
          </div>
        </div>
      </div>
    {% elif layout == 'vertical' %}
      <div {{ commonAttributes | safe }}>
        <div data-test-id="view-section-table-row-vertical">
          {% if params.questionTitle %}
            <h4 data-test-id="view-section-table-row-title" class="nhsuk-heading-xs nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2">
              {{ params.questionTitle }}
            </h4>
          {% endif %}
          <div class="nhsuk-grid-row">
            <div data-test-id="view-section-table-row-component" class="{{ verticalInnerComponentClass }}">
              {{- params.innerComponent | safe | trim }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}
{% endmacro %}
