{% extends 'views/includes/layout.njk' %}
{% from 'components/view-section-table-row/macro.njk' import viewSectionTableRow %}

{% block body %}
  <h1>View Section Table Row component</h1>
  <h2>Horizontal layout</h2>
  <pre><code>
    {% verbatim %}
      {% from 'components/view-section-table-row/macro.njk' import viewSectionTableRow %}
      {{ viewSectionTableRow({
          questionId: 'some-question-id',
          questionTitle: 'Some question title',
          innerComponent: '&ltdiv&gt;Some inner component&lt/div&gt;'
      }) }}
    {% endverbatim %}
  </code></pre>

  {% set commonAttributes %} data-test-id="view-section-table-row-{{ params.questionId }}" class="nhsuk-width-container bc-c-section-table-row"{%- endset -%}

  <h3>Rendered component</h3>
  {{ viewSectionTableRow({
      questionId: 'some-question-id',
      questionTitle: 'Some question title',
      innerComponent: '<div>Some inner component</div>'
  }) }}
  <br/>
  <br/>
  <h2>Vertical layout</h2>
  <pre><code>
    {% verbatim %}
      {% from 'components/view-section-table-row/macro.njk' import viewSectionTableRow %}
      {{ viewSectionTableRow({
          questionId: 'some-question-id',
          questionTitle: 'Some question title',
          layout: 'vertical', 
          innerComponent: '&ltdiv&gt;Lorem ipsum dolor sit amet consectetur adipiscing elit, viverra ad torquent et lectus malesuada, natoque fermentum scelerisque urna mauris auctor. Sociis class lacinia ante per non cras aenean, morbi sem blandit praesent mus imperdiet hac, egestas diam congue donec phasellus sapien. Tempor ultricies porttitor fames potenti vestibulum maecenas montes orci elementum ligula, in id magna nascetur laoreet suspendisse ullamcorper porta justo, vivamus habitasse ridiculus eleifend taciti primis quisque consequat penatibus.&lt/div&gt;'
      }) }}
    {% endverbatim %}
  </code></pre>

  <h3>Rendered component</h3>
  {{ viewSectionTableRow({
      questionId: 'some-question-id',
      questionTitle: 'Some question title',
      layout: 'vertical', 
      innerComponent: '<div>Lorem ipsum dolor sit amet consectetur adipiscing elit, viverra ad torquent et lectus malesuada, natoque fermentum scelerisque urna mauris auctor. Sociis class lacinia ante per non cras aenean, morbi sem blandit praesent mus imperdiet hac, egestas diam congue donec phasellus sapien. Tempor ultricies porttitor fames potenti vestibulum maecenas montes orci elementum ligula, in id magna nascetur laoreet suspendisse ullamcorper porta justo, vivamus habitasse ridiculus eleifend taciti primis quisque consequat penatibus.</div>'
  }) }}
{% endblock %}
