{% from 'components/error-summary/macro.njk' import errorSummary as nhsErrorSummary %}

{% macro bcErrorSummary(params) %}
  <div data-test-id="error-summary">
    {{ nhsErrorSummary({
      "titleText": "There is a problem",
      "errorList": params.errors
    }) }}
  </div>
{% endmacro %}
