{% from 'components/view-section-table-row/macro.njk' import viewSectionTableRow %}
{% from 'components/view-question-data-bulletlist/macro.njk' import viewQuestionDataBulletlist %}
{% from 'components/view-question-data-text/macro.njk' import viewQuestionDataText %}

{% macro viewBrowserBased(params) %}
  <dl data-test-id="view-section-table-browser-based" class="nhsuk-summary-list">
    {{ viewSectionTableRow({
      questionId: 'supported-browsers', 
      questionTitle: 'Browsers Supported', 
      innerComponent: viewQuestionDataBulletlist({
        questionData: params.section.sections['browsers-supported'].answers['supported-browsers']
      })
    }) }}
    {{ viewSectionTableRow({
      questionId: 'mobile-responsive', 
      questionTitle: 'Mobile responsive', 
      innerComponent: viewQuestionDataText({
        questionId: 'mobile-responsive',
        questionData: params.section.sections['browsers-supported'].answers['mobile-responsive']
      })
    }) }}
    {{ viewSectionTableRow({
      questionId: 'mobile-first-design', 
      questionTitle: 'Designed with a mobile first approach', 
      innerComponent: viewQuestionDataText({
        questionId: 'mobile-first-design',
        questionData: params.section.sections['browser-mobile-first'].answers['mobile-first-design']
      })
    }) }}
    {{ viewSectionTableRow({
      questionId: 'plugins-required', 
      questionTitle: 'Plug-ins or extensions required', 
      innerComponent: viewQuestionDataText({
        questionId: 'plugins-required',
        questionData: params.section.sections['plug-ins-or-extensions'].answers['plugins-required']
      })
    }) }}
    {{ viewSectionTableRow({
      questionId: 'plugins-detail', 
      questionTitle: 'Plug-ins or extensions information', 
      innerComponent: viewQuestionDataText({
        questionId: 'plugins-detail', 
        questionData: params.section.sections['plug-ins-or-extensions'].answers['plugins-detail']
      })
    }) }}
    {{ viewSectionTableRow({
      questionId: 'hardware-requirements-description', 
      questionTitle: 'Hardware requirements', 
      layout: 'vertical',
      innerComponent: viewQuestionDataText({
        questionId: 'hardware-requirements-description', 
        questionData: params.section.sections['browser-hardware-requirements'].answers['hardware-requirements-description']
      })
    }) }}
    {{ viewSectionTableRow({
      questionId: 'additional-information', 
      questionTitle: 'Additional information', 
      layout: 'vertical',
      innerComponent: viewQuestionDataText({
        questionId: 'additional-information', 
        questionData: params.section.sections['browser-additional-information'].answers['additional-information']
      })
    }) }}
  </dl>
{% endmacro %}
