{% macro betaBanner(params) %}
  <div class="bc-flex-container bc-align-items-center nhsuk-width-container nhsuk-u-padding-bottom-3 nhsuk-u-padding-top-3">
    <div class="bc-c-tag-beta" data-test-id="beta-tag">BETA</div>
    <div data-test-id="beta-banner-text">
      This is a new service - your <a data-test-id="feedback-link" target="_blank" href="{{ params.termsHref }}">feedback</a> will help us improve it.
    </div>
  </div>
{% endmacro %}
