{% macro betaBanner(params) %}
  <div class="nhsuk-grid-row">
    <div class="bc-c-tag-beta" data-test-id="beta-tag">BETA</div>
    <div data-test-id="beta-banner-text">
      By using this site you are accepting the General Terms of Use which you can view by <a data-test-id="general-terms-link" target="_blank" href="{{ params.blobstoreHost }}/$web/content/terms-of-use.pdf">downloading this PDF</a>. The Cookies Policy and Privacy Policy can be accessed using the links at the bottom of the page.
    </div>
  </div>
{% endmacro %}
