{% macro betaBanner(params) %}
  <div class="nhsuk-grid-row">
    <div class="bc-c-tag-beta" data-test-id="beta-tag">BETA</div>
    <div data-test-id="beta-banner-text" class="nhsuk-u-padding-top-2">
      This is a new service - your <a data-test-id="feedback-link" target="_blank" href="{{ params.termsHref }}">feedback</a> will help us improve it.
    </div>
  </div>
{% endmacro %}
