{% extends 'views/includes/layout.njk' %}

{% block body %}
  <ul>
    <li><a href="/component/view-question-data-link">View Question Data Link</a></li>
    <li><a href="/component/view-question-data-text">View Question Data Text</a></li>
    <li><a href="/component/view-question-data-bulletlist">View Question Data Bulletlist</a></li>
  </ul>
{% endblock %}