{% extends 'views/includes/layout.njk' %}

{% block body %}
  <h1>Buying catalogue components</h1>

  <h3>View solution components</h3>
  <ul>
    <li><a href="/component/view-question-data-link">View Question Data Link</a></li>
    <li><a href="/component/view-question-data-text">View Question Data Text</a></li>
    <li><a href="/component/view-question-data-bulletlist">View Question Data Bulletlist</a></li>
    <li><a href="/component/view-question-title">View Question Title</a></li>
    <li><a href="/component/view-section-heading">View Section Heading</a></li>
  </ul>

  <h3>View solution sections</h3>
  <ul>
    <li><a href="/section/view-solution-description">View Solution Description</a></li>
    <li><a href="/section/view-solution-contact-details">View Solution Contact Details</a></li>
    <li><a href="/section/view-solution-capabilities">View Solution Capabilities</a></li>
    <li><a href="/section/view-features">View Features</a></li>
  </ul>

  <h3>General components</h3>
  <ul>
    <li><a href="/component/tag">Tag</a></li>
  </ul>     
{% endblock %}