{% extends 'views/includes/layout.njk' %}

{% block body %}
  <h1>Buying catalogue components</h1>

  <h3>View solution components</h3>
  <ul>
    <li><a href="/component/view-data-link">View Data Link</a></li>
    <li><a href="/component/view-data-text">View Data Text</a></li>
    <li><a href="/component/view-data-bulletlist">View Data Bulletlist</a></li>
    <li><a href="/component/view-data-title">View Data Title</a></li>
    <li><a href="/component/view-section-heading">View Section Heading</a></li>
    <li><a href="/component/view-section-table-row">View Section Table Row</a></li>
    <li><a href="/component/view-expandable-section">View Expandable Section</a></li>
    <li><a href="/component/view-epic-list">View Epic List</a></li>
    <li><a href="/component/view-epics">View Epics</a></li>
  </ul>

  <h3>View solution sections</h3>
  <ul>
    <li><a href="/section/view-solution-header">View Solution Header</a></li>
    <li><a href="/section/view-solution-description">View Solution Description</a></li>
    <li><a href="/section/view-solution-contact-details">View Solution Contact Details</a></li>
    <li><a href="/section/view-solution-capabilities">View Solution Capabilities</a></li>
    <li><a href="/section/view-features">View Features</a></li>
    <li><a href="/section/view-browser-based">View Browser Based</a></li>
    <li><a href="/section/view-native-mobile">View Native Mobile</a></li>
    <li><a href="/section/view-native-desktop">View Native Desktop</a></li>
    <li><a href="/section/view-client-application-types">View Client Application Types</a></li>
    <li><a href="/section/view-hosting-type-public-cloud">View Hosting Type Public Cloud</a></li>
    <li><a href="/section/view-hosting-type-private-cloud">View Hosting Type Private Cloud</a></li>
    <li><a href="/section/view-hosting-type-hybrid">View Hosting Type Hybrid</a></li>
    <li><a href="/section/view-hosting-type-on-premise">View Hosting Type On Premise</a></li>
    <li><a href="/section/view-hosting-types">View Hosting Types</a></li>
    <li><a href="/section/view-roadmap">View Roadmap</a></li>
    <li><a href="/section/view-learn-more">View Learn More</a></li>
    <li><a href="/section/view-about-supplier">View About Supplier</a></li>
    <li><a href="/section/view-capabilities">View Capabilities</a></li>
    <li><a href="/section/view-integrations">View Integrations</a></li>
    <li><a href="/section/view-supplier-asserted-integrations">View Supplier Asserted Integrations</a></li>
    <li><a href="/section/view-implementation-timescales">View Implementation Timescales</a></li>
    <li><a href="/section/view-authority-asserted-integrations">View Authority Asserted Integrations</a></li>
    <li><a href="/section/view-supplier-asserted-integrations">View Supplier Asserted Integrations</a></li>
  </ul>

  <h3>General components</h3>
  <ul>
    <li><a href="/component/tag">Tag</a></li>
  </ul>
{% endblock %}
