{% from 'components/view/components/view-data-text/macro.njk' import viewDataText %}
{% from 'components/view/components/view-expandable-section/macro.njk' import viewExpandableSection %}
{% from 'components/view/components/view-section-heading/macro.njk' import viewSectionHeading %}
{% from 'sections/view-hosting-type-public-cloud/macro.njk' import viewHostingTypePublicCloud %}
{% from 'sections/view-hosting-type-private-cloud/macro.njk' import viewHostingTypePrivateCloud %}
{% from 'sections/view-hosting-type-hybrid/macro.njk' import viewHostingTypeHybrid %}
{% from 'sections/view-hosting-type-on-premise/macro.njk' import viewHostingTypeOnPremise %}

{% macro viewHostingTypes(params) %}
  {% if params.sections['hosting-type-public-cloud'] or params.sections['hosting-type-private-cloud']
    or params.sections['hosting-type-hybrid'] or params.sections['hosting-type-on-premise'] %}
    {% set hasHostingTypeSections = true %}
  {% endif %}

  {% if hasHostingTypeSections %}
    <div class="nhsuk-width-container" data-test-id="view-hosting-types">
      {{ viewSectionHeading({ text: 'Hosting type' }) }}
      <div class="nhsuk-grid-row nhsuk-u-padding-left-3 nhsuk-u-padding-right-3">
        <div data-test-id="view-section-hosting-types-guidance">
          {{ viewDataText({
            dataTestId: 'view-hosting-types-guidance',
            data: 'These are the ways this Catalogue Solution can be hosted:',
            classes: 'bc-t-font-color--grey-1 nhsuk-u-margin-bottom-4 nhsuk-grid-column-two-thirds'
          }) }}
        </div>
        <div class="nhsuk-grid-column-full">
          {% if params.sections['hosting-type-public-cloud'] %}
            {{ viewExpandableSection({
              dataTestId: 'view-section-hosting-type-public-cloud',
              title: 'Public cloud',
              innerComponent: viewHostingTypePublicCloud({
                section: params.sections['hosting-type-public-cloud']
              })
            }) }}
          {% endif %}

          {% if params.sections['hosting-type-private-cloud'] %}
            {{ viewExpandableSection({
              dataTestId: 'view-section-hosting-type-private-cloud',
              title: 'Private cloud',
              innerComponent: viewHostingTypePrivateCloud({
                section: params.sections['hosting-type-private-cloud']
              })
            }) }}
          {% endif %}

          {% if params.sections['hosting-type-hybrid'] %}
            {{ viewExpandableSection({
              dataTestId: 'view-section-hosting-type-hybrid',
              title: 'Hybrid',
              innerComponent: viewHostingTypeHybrid({
                section: params.sections['hosting-type-hybrid']
              })
            }) }}
          {% endif %}

          {% if params.sections['hosting-type-on-premise'] %}
            {{ viewExpandableSection({
              dataTestId: 'view-section-hosting-type-on-premise',
              title: 'On premise',
              innerComponent: viewHostingTypeOnPremise({
                section: params.sections['hosting-type-on-premise']
              })
            }) }}
          {% endif %}
          </div>
      </div>
    </div>
  {% endif %}
{% endmacro %}
