{% from 'components/label/macro.njk' import label %}

{% macro viewQuestionDataBulletlist(params) %}
  {% if params.questionData %}
    <div data-test-id="view-question-data-bulletlist">
        <ul>
          {% for data in params.questionData %}
            <li>
              {{ label({
                "text": data
              }) }}
            </li>
          {% endfor %}
        </ul>
    </div>
  {% endif %}
{% endmacro %}
