{% extends 'views/includes/layout.njk' %}
{% from 'components/view-question-data-bulletlist/macro.njk' import viewQuestionDataBulletlist %}

{% block body %}
  <h1>View question data bulletlist component</h1>

  <h3>To use the component</h3>
  <pre><code>
    {% verbatim %}
      {% from 'components/view-question-data-bulletlist/macro.njk' import viewQuestionDataBulletlist %}

      {{ viewQuestionDataBulletlist({
        questionData: ["first data", "second data", "third data"],
        classes: "another-class"
      }) }}
    {% endverbatim %}
  </code></pre>

  <h3>Rendered component</h3>
  {{ viewQuestionDataBulletlist({
    questionData: ["first data", "second data", "third data"],
    classes: "another-class"
  }) }}
{% endblock %}