{% from 'components/label/macro.njk' import label %}

{% macro viewQuestionDataText(params) %}
  {% if params.questionData %}
    <div data-test-id="view-question-data-text-{{params.questionId}}">
      {{ label({
        "text": params.questionData
      }) }}
    </div>
  {% endif %}
{% endmacro %}