{% extends 'views/includes/layout.njk' %}
{% from 'components/view-question-data-text/macro.njk' import viewQuestionDataText %}

{% block body %}
  <h1>View question data text component</h1>

  <h3>To use the component</h3>
  <pre><code>
    {% verbatim %}
      {% from 'components/view-question-data-text/macro.njk' import viewQuestionDataText %}

      {{ viewQuestionDataText({
          questionId: 'some-id',
          questionData: 'Some data',
          classes: 'another-class'
        }) 
      }}
    {% endverbatim %}
  </code></pre>

  <h3>Rendered component</h3>
  {{ viewQuestionDataText({
    questionId: 'some-id',
    questionData: 'Some data',
    classes: 'another-class'
  }) }}
{% endblock %}