{% macro viewDataText(params) %}
  {% if params.data %}
    <div data-test-id="{{ params.dataTestIdIdentifier }}" class="bc-c-data-text {{ params.classes }}">{{ params.data }}</div>
  {% endif %}
{% endmacro %}
