{% macro bcTaskList(params) %}
  <ol data-test-id="task-list" class="bc-c-task-list">
    {% for task in params.taskList %}
      {% set taskLoop = loop %}
      <li data-test-id="task-{{taskLoop.index0}}">
        <h2 data-test-id="task-{{taskLoop.index0}}-name" class="bc-c-task-list__task">
          <span class="bc-c-task-list__task-number">{{ taskLoop.index }}.</span>
          <div>{{task.taskName}}</div>
        </h2>
        <ul class="bc-c-task-list__items">
          {% for item in task.items %}
            {% set itemLoop = loop %}
            <li data-test-id="task-{{taskLoop.index0}}-item-{{itemLoop.index0}}" class="bc-c-task-list__item nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-3">
              <span class="bc-c-task-list__task-name">
                {% if item.href %}
                  <a data-test-id="item-{{itemLoop.index0}}-description" href="{{item.href}}">{{item.description}}</a>
                {% else %}
                  <div data-test-id="item-{{itemLoop.index0}}-description">{{item.description}}</div>
                {% endif %}
              </span>
              {% if item.complete %}
                <strong data-test-id="task-{{taskLoop.index0}}-item-{{itemLoop.index0}}-complete-tag" class="bc-c-tag-outline govuk-tag bc-c-task-list__task-completed nhsuk-u-margin-right-9" id="complete">Complete</strong>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ol>
{% endmacro %}
