{% from 'components/view-epics/macro.njk' import viewEpics %}
{% from 'components/view-section-heading/macro.njk' import viewSectionHeading %}
{% from 'components/view-expandable-section/macro.njk' import viewExpandableSection %}
{% from 'components/view-data-text/macro.njk' import viewDataText %}
{% from 'components/view-data-link/macro.njk' import viewDataLink %}

{% macro viewCapabilities(params) %}
  {% if params %}
    <div class="nhsuk-width-container" data-test-id="view-capabilities">
      {{ viewSectionHeading({ text: 'Capabilities met' }) }}
        {% for capability in params.capabilities %}
          {% set title = capability.name + ', ' + capability.version %}
          {{ viewExpandableSection({
            dataTestId: 'view-section-capabilities',
            title: title,
            innerComponent: viewDataText({
              dataTestId: 'view-question-data-text-description',
              data: capability.description
            }) + viewDataLink({
              dataTestId: 'view-question-data-text-link',
              data: capability.link,
              text: 'View more details including acceptance criteria for all epics',
              classes: 'nhsuk-u-margin-bottom-5'
            }) + viewEpics({
              dataTestId: 'view-question-epic',
              data: capability.epic
            })
          }) }}
        {% endfor %}
    </div>
  {% endif %}
{% endmacro %}
