{# API returns 'document-name' which is transformed into 'document-link' in createContext function #}
{% from 'components/view/components/view-section-table-row/macro.njk' import viewSectionTableRow %}
{% from 'components/view/components/view-data-text/macro.njk' import viewDataText %}
{% from 'components/view/components/view-data-link/macro.njk' import viewDataLink %}
{% from 'components/view/components/view-section-heading/macro.njk' import viewSectionHeading %}

{% macro viewAuthorityAssertedIntegrations(params) %}
  {% if params %}
      <div data-test-id="view-authority-asserted-integrations">
          {{ viewSectionTableRow({
          questionId: 'authority-asserted-integrations',
          questionTitle: 'NHS asserted integrations',
          layout: 'vertical',
          innerComponent: viewDataLink({
            dataTestId: 'view-question-data-text-link-authority-integrations',
            data: params.section.answers['document-link'],
            text: 'View NHS assured integrations',
            classes: "nhsuk-u-margin-bottom-3"
          }) + viewDataText({
            dataTestId: 'view-data-text-additional-information',
            data: 'To find out more about these NHS assured integrations, follow the links below.',
            classes: 'bc-t-font-color--grey-1'
          }) + viewDataLink({
            dataTestId: 'view-question-data-text-link-gpconnect',
            data: 'https://digital.nhs.uk/services/gp-connect',
            text: 'GPConnect'
          }) + viewDataLink({
            dataTestId: 'view-question-data-text-link-im1',
            data: 'https://digital.nhs.uk/services/future-gp-it-systems-and-services/im1-pairing-integration',
            text: 'IM1'
            })
          }) }}
    </div>
  {% endif %}
{% endmacro %}
