{% from 'components/button/macro.njk' import button %}

{% macro bcButton(params) %}

  {% set disableButton = true %}
  {% if params.enabled and params.enabled === "true" or params.enabled === true %}
    {% set disableButton = false %}
  {% endif %}

  <div data-test-id="{{ params.dataTestId }}">
    {{ button({
      text: params.text,
      classes: params.classes,
      href: params.href,
      disabled: disableButton
    }) }}
  </div>
{% endmacro %}
