{% from 'components/button/macro.njk' import button %}

{% macro bcButton(params) %}

  {% if params.disabled and params.disabled === "true" or params.disabled === true %}
    {% set disableButton = true %}
  {% endif %}

  <div data-test-id="{{ params.dataTestId }}">
    {{ button({
      text: params.text,
      classes: params.classes,
      href: params.href,
      disabled: disableButton
    }) }}
  </div>
{% endmacro %}
