{% from 'components/tag/macro.njk' import tag %}

{% macro viewSolutionHeader(params) %}
  {% if params %}
    <div data-test-id="view-solution-header">
      {% if params.isFoundation %}
        {{ tag({
          dataTestId: 'view-solution-foundation',
          text: 'Foundation Solution Set',
          classes: 'nhsuk-u-margin-bottom-4 bc-c-tag-outline-small'
        }) }}
      {% endif %}

      <h1 data-test-id="view-solution-page-solution-name" class="nhsuk-u-margin-bottom-2">{{ params.name }}</h1>
      <h2 data-test-id="view-solution-page-supplier-name" class="nhsuk-u-margin-bottom-4">{{ params.supplierName }}</h2>
      <p data-test-id="view-solution-page-solution-id">Solution ID: {{ params.id }}</p>
      <div data-test-id="view-solution-page-last-updated" class="bc-t-font-color--grey">Solution information last updated: {{ params.lastUpdated | dateTime('D MMMM YYYY') }}</div>
    </div>
  {% endif %}
{% endmacro %}
