{% from 'components/general/components/tag/macro.njk' import tag %}

{% macro viewSolutionHeader(params) %}
  {% if params %}
    <div data-test-id="view-solution-header">
      {% if params.isFoundation %}
        {{ tag({
          dataTestId: 'view-solution-foundation',
          text: 'Foundation Solution Set',
          classes: 'nhsuk-u-margin-bottom-4 bc-c-tag-outline'
        }) }}
      {% endif %}

      {% if params.name %}
        <h1 data-test-id="view-solution-page-solution-name" class="nhsuk-u-margin-bottom-2">{{ params.name }}</h1>
      {% endif %}
      {% if params.supplierName %}
        <h2 data-test-id="view-solution-page-supplier-name" class="nhsuk-u-margin-bottom-4">{{ params.supplierName }}</h2>
      {% endif %}
      {% if params.id %}
        <p data-test-id="view-solution-page-solution-id" class="nhsuk-u-font-size-24">Solution ID: {{ params.id }}</p>
      {% endif %}
      {% if params.lastUpdated %}
        <div data-test-id="view-solution-page-last-updated" class="bc-t-font-color--grey-1">Solution information last updated: {{ params.lastUpdated | dateTime('D MMMM YYYY') }}</div>
      {% endif %}

      {% if params.frameworks %}
        <div data-test-id="view-solution-page-frameworks" class="bc-t-font-color--grey-1 bc-c-data-text">
          Framework(s): {% for item in params.frameworks %}{{ item.shortName }}{% if params.frameworks | length > loop.index %}, {% endif %}{% endfor %}
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endmacro %}
