{% macro viewDataLink(params) %}
  {% if params.data %}
    <div data-test-id="{{ params.dataTestId }}" class="bc-c-data-link {{ params.classes }}">
      <a href="{{ params.data }}" target="_blank">
        {{ params.data }}
      </a>
    </div>
  {% endif %}
{% endmacro %}
