{% from 'components/view-data-title/macro.njk' import viewDataTitle %}
{% from 'components/view-data-text/macro.njk' import viewDataText %}
{% from 'components/view-data-link/macro.njk' import viewDataLink %}
{% from 'components/view-section-heading/macro.njk' import viewSectionHeading %}

{% macro viewRoadmap(params) %}
  {% if params.section %}
    <div class="nhsuk-width-container" data-test-id="view-roadmap">
      {{ viewSectionHeading({ text: 'Roadmap' }) }}
      <div class="nhsuk-grid-row nhsuk-u-padding-left-3 nhsuk-u-padding-right-3">
        <div data-test-id="view-section-roadmap-guidance">
          {{ viewDataText({
            dataTestId: 'view-roadmap-guidance',
            data: 'These are the supplier’s development plans for this Catalogue Solution:',
            classes: 'bcc-t-font-color--grey1 nhsuk-u-margin-bottom-3 nhsuk-grid-column-two-thirds'
          }) }}
        </div>
        <div class="nhsuk-grid-column-full">
          {% if params.section.answers['document-link'] %}
            <div data-test-id="view-section-question-document-link">
              {{ viewDataLink({
                dataTestId: 'view-question-data-link-document-link',
                data: params.section.answers['document-link'],
                text: 'View roadmap',
                classes: 'nhsuk-u-margin-bottom-4'
              }) }}
            </div>
          {% endif %}
          {% if params.section.answers.summary %}
            <div data-test-id="view-section-question-summary">
              {{ viewDataText({
                dataTestId: 'view-question-data-text-summary',
                data: params.section.answers.summary
              }) }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
{% endmacro %}
