{% extends 'views/includes/layout.njk' %}
{% from 'sections/view-solution-description/macro.njk' import viewSolutionDescription %}

{% block body %}
  <h1>View Solution Description</h1>

  <h3>To use the component</h3>
  <pre><code>
    {% verbatim %}
      {% from 'sections/view-solution-description/macro.njk' import viewSolutionDescription %}

      {{ viewSolutionDescription({
        section: {
          answers: {
            summary: 'Some summary data',
            description: 'Some description data',
            link: 'www.somelink.com'
          }
        }
      }) }}
    {% endverbatim %}
  </code></pre>

  <h3>Generated HTML</h3>
  <pre><code>
    {{- '
    <div class="nhsuk-width-container" data-test-id="view-solution-description">
      <div class="bc-c-title-block">
        <h3 class="nhsuk-u-margin-bottom-2">Solution description</h3>
      </div>
      <div class="nhsuk-grid-row nhsuk-u-padding-left-3">
        <div class="nhsuk-u-margin-bottom-4 nhsuk-grid-column-two-thirds">
          <div data-test-id="view-section-question-summary">
            <h4 data-test-id="view-question-title" class="bc-c-data-title__text">
              Summary
            </h4>
            <div data-test-id="view-question-data-text-summary" class="bc-c-data-text">
              Some summary data
            </div>
          </div>
          <div data-test-id="view-section-question-description" class="nhsuk-u-margin-top-4">
            <h4 data-test-id="view-question-title" class="bc-c-data-title__text">
              About the solution
            </h4>
            <div data-test-id="view-question-data-text-description" class="bc-c-data-text">
              Some description data
            </div>
          </div>
          <div data-test-id="view-section-question-link" class="nhsuk-u-margin-top-4">
            <div data-test-id="view-question-data-link" class="bc-c-data-link another-class">
              <a href="http://www.somelink.com" target="_blank">
                www.somelink.com
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    ' }}
  </code></pre>

  <h3>Rendered component</h3>
  {{ viewSolutionDescription({
    section: {
      answers: {
        summary: 'Some summary data',
        description: 'Some description data',
        link: 'www.somelink.com'
      }
    }
  }) }}
{% endblock %}