{% from 'components/view/view-data-text/macro.njk' import viewDataText %}
{% from 'components/view/view-section-heading/macro.njk' import viewSectionHeading %}

{% macro viewSolutionContactDetails(params) %}
  {% if params.section %}
    <div class="nhsuk-width-container" data-test-id="view-solution-contact-details">
      {{ viewSectionHeading({ text: 'Contact details' }) }}
      <div class="nhsuk-grid-row nhsuk-u-margin-bottom-4 nhsuk-u-padding-left-3">
      {% if params.section.answers['contact-1'] %}
        <div data-test-id="view-section-question-contact-1" class="nhsuk-grid-column-one-half">
          {{ viewDataText({
            dataTestId: 'view-question-data-text-contact-name',
            data: params.section.answers['contact-1']['contact-name']
          }) }}
          {{ viewDataText({
              dataTestId: 'view-question-data-text-department-name',
              data: params.section.answers['contact-1']['department-name']
            }) }}
            {{ viewDataText({
              dataTestId: 'view-question-data-text-phone-number',
              data: params.section.answers['contact-1']['phone-number']
            }) }}
            {{ viewDataText({
              dataTestId: 'view-question-data-text-email-address',
              data: params.section.answers['contact-1']['email-address']
            }) }}
        </div>
      {% endif %}

      {% if params.section.answers['contact-2'] %}
        <div data-test-id="view-section-question-contact-2" class="nhsuk-grid-column-one-half">
            {{ viewDataText({
              dataTestId: 'view-question-data-text-contact-name',
              data: params.section.answers['contact-2']['contact-name']
            }) }}
            {{ viewDataText({
              dataTestId: 'view-question-data-text-department-name',
              data: params.section.answers['contact-2']['department-name']
            }) }}
            {{ viewDataText({
              dataTestId: 'view-question-data-text-phone-number',
              data: params.section.answers['contact-2']['phone-number']
            }) }}
            {{ viewDataText({
              dataTestId: 'view-question-data-text-email-address',
              data: params.section.answers['contact-2']['email-address']
            }) }}
        </div>
      {% endif %}
      </div>
    </div>
  {% endif %}
{% endmacro %}
