{% from 'components/view-question-data-text/macro.njk' import viewQuestionDataText %}

{% macro viewSolutionContactDetails(params) %}
  {% if params.section %}
    <div data-test-id="view-solution-contact-details">
      <div class="bc-c-title-block">
        <h3 class="nhsuk-u-margin-bottom-2">Contact details</h3>
      </div>
    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-4 nhsuk-u-padding-left-3">
      {% if params.section.answers['contact-1'] %}
        <div data-test-id="view-section-question-contact-1" class="nhsuk-grid-column-one-half">
            {{ viewQuestionDataText({
              questionId: 'department-name', 
              questionData: params.section.answers['contact-1']['department-name']
            }) }}
            {{ viewQuestionDataText({
              questionId: 'contact-name', 
              questionData: params.section.answers['contact-1']['contact-name']
            }) }}
            {{ viewQuestionDataText({
              questionId: 'phone-number', 
              questionData: params.section.answers['contact-1']['phone-number']
            }) }}
            {{ viewQuestionDataText({
              questionId: 'email-address', 
              questionData: params.section.answers['contact-1']['email-address']
            }) }}
        </div>
      {% endif %}

      {% if params.section.answers['contact-2'] %}
        <div data-test-id="view-section-question-contact-2" class="nhsuk-grid-column-one-half">
            {{ viewQuestionDataText({
              questionId: 'department-name', 
              questionData: params.section.answers['contact-2']['department-name']
            }) }}
            {{ viewQuestionDataText({
              questionId: 'contact-name', 
              questionData: params.section.answers['contact-2']['contact-name']
            }) }}
            {{ viewQuestionDataText({
              questionId: 'phone-number', 
              questionData: params.section.answers['contact-2']['phone-number']
            }) }}
            {{ viewQuestionDataText({
              questionId: 'email-address', 
              questionData: params.section.answers['contact-2']['email-address']
            }) }}
        </div>
      {% endif %}
      </div>
    </div>
  {% endif %}
{% endmacro %}