{% extends 'views/includes/layout.njk' %}
{% from 'sections/view-solution-contact-details/macro.njk' import viewSolutionContactDetails %}

{% block body %}
  <h1>View Solution Contact Details</h1>

  <h3>To use the component</h3>
  <pre><code>
    {% verbatim %}
      {% from 'components/view-solution-contact-details/macro.njk' import viewSolutionContactDetails %}

      {{ viewSolutionContactDetails({
        section: {
          answers: {
            'contact-1': {
              'department-name': 'a contact dept',
              'contact-name': 'jim jones',
              'phone-number': '0111 111111',
              'email-address': 'jim@solution.com'
            },
            'contact-2': {
              'department-name': 'a second contact dept',
              'contact-name': 'jim jones jr',
              'phone-number': '0111 111112',
              'email-address': 'jim2@solution.com'
            }
          }
        }
      }) }}
    {% endverbatim %}
  </code></pre>

  <h3>Generated HTML</h3>
  <pre><code>
    {{- "
      <div data-test-id='view-solution-contact-details'>
        <div class='bc-c-title-block'>
          <h3 class='nhsuk-u-margin-bottom-2'>Contact details</h3>
        </div>
        <div class='nhsuk-grid-row nhsuk-u-margin-bottom-4 nhsuk-u-padding-left-3'>
          <div data-test-id='view-section-question-contact-1' class='nhsuk-grid-column-one-half'>
            <div data-test-id='view-question-data-text-department-name'>
              <label class='nhsuk-label'>
                a contact dept
              </label>
            </div>
            <div data-test-id='view-question-data-text-contact-name'>
              <label class='nhsuk-label'>
                jim jones
              </label>
            </div>
            <div data-test-id='view-question-data-text-phone-number'>
              <label class='nhsuk-label'>
                0111 111111
              </label>
            </div>
            <div data-test-id='view-question-data-text-email-address'>
              <label class='nhsuk-label'>
                jim@solution.com
              </label>
            </div>
          </div>
          <div data-test-id='view-section-question-contact-2' class='nhsuk-grid-column-one-half'>
            <div data-test-id='view-question-data-text-department-name'>
              <label class='nhsuk-label'>
                a second contact dept
              </label>
            </div>
            <div data-test-id='view-question-data-text-contact-name'>
              <label class='nhsuk-label'>
                jim jones jr
              </label>
            </div>
            <div data-test-id='view-question-data-text-phone-number'>
              <label class='nhsuk-label'>
                0111 111112
              </label>
            </div>
            <div data-test-id='view-question-data-text-email-address'>
              <label class='nhsuk-label'>
                jim2@solution.com
              </label>
            </div>
          </div>
        </div>
      </div>
    " }}
  </code></pre>

  <h3>Rendered component</h3>
  {{ viewSolutionContactDetails({
    section: {
      answers: {
        'contact-1': {
          'department-name': 'a contact dept',
          'contact-name': 'jim jones',
          'phone-number': '0111 111111',
          'email-address': 'jim@solution.com'
        },
        'contact-2': {
          'department-name': 'a second contact dept',
          'contact-name': 'jim jones jr',
          'phone-number': '0111 111112',
          'email-address': 'jim2@solution.com'
        }
      }
    }
  }) }}
{% endblock %}