{% extends 'views/includes/layout.njk' %}
{% from 'sections/view-solution-contact-details/macro.njk' import viewSolutionContactDetails %}

{% block body %}
  <h1>View Solution Contact Details</h1>

  <h3>To use the component</h3>
  <pre><code>
    {% verbatim %}
      {% from 'components/view-solution-contact-details/macro.njk' import viewSolutionContactDetails %}

      {{ viewSolutionContactDetails({
        section: {
          answers: {
            'contact-1': {
              'department-name': 'a contact dept',
              'contact-name': 'jim jones',
              'phone-number': '0111 111111',
              'email-address': 'jim@solution.com'
            },
            'contact-2': {
              'department-name': 'a second contact dept',
              'contact-name': 'jim jones jr',
              'phone-number': '0111 111112',
              'email-address': 'jim2@solution.com'
            }
          }
        }
      }) }}
    {% endverbatim %}
  </code></pre>

  <h3>Rendered component</h3>
  {{ viewSolutionContactDetails({
    section: {
      answers: {
        'contact-1': {
          'department-name': 'a contact dept',
          'contact-name': 'jim jones',
          'phone-number': '0111 111111',
          'email-address': 'jim@solution.com'
        },
        'contact-2': {
          'department-name': 'a second contact dept',
          'contact-name': 'jim jones jr',
          'phone-number': '0111 111112',
          'email-address': 'jim2@solution.com'
        }
      }
    }
  }) }}
{% endblock %}