{% from 'components/footer/macro.njk' import footer %}

{% macro bcFooter(params) %}
  <div data-test-id="footer" class="bc-bg--grey-4">
    <div data-test-id="footer-component">
      {{ footer({
        list: "nhsuk-footer__list--three-columns",
        links: params.footerLinks,
        copyright: "" 
      })}}
    </div>

    {% if params.showLegalPanel %}
      <div data-test-id="legal-panel" class="nhsuk-u-padding-bottom-3 nhsuk-width-container">
        <span class='nhsuk-u-margin-right-2'>Legal</span>
        <span class='nhsuk-u-margin-right-2'><a href='https://digital.nhs.uk/about-nhs-digital/privacy-and-cookies'>Privacy and Cookies</a></span>
        <span class='nhsuk-u-margin-right-2'><a href='/document/terms-of-use.pdf'>Terms and Conditions</a></span>
      </div>
    {% endif %}
  </div>
{% endmacro %}
