{% from 'sections/view-solution-header/macro.njk' import viewSolutionHeader %}
{% from 'sections/view-solution-description/macro.njk' import viewSolutionDescription %}
{% from 'sections/view-features/macro.njk' import viewFeatures %}
{% from 'sections/view-integrations/macro.njk' import viewIntegrations %}
{% from 'sections/view-implementation-timescales/macro.njk' import viewImplementationTimescales %}
{% from 'sections/view-client-application-types/macro.njk' import viewClientApplicationTypes %}
{% from 'sections/view-hosting-types/macro.njk' import viewHostingTypes %}
{% from 'sections/view-solution-contact-details/macro.njk' import viewSolutionContactDetails %}
{% from 'sections/view-roadmap/macro.njk' import viewRoadmap %}
{% from 'sections/view-about-supplier/macro.njk' import viewAboutSupplier %}
{% from 'sections/view-capabilities/macro.njk' import viewCapabilities %}
{% from 'sections/view-learn-more/macro.njk' import viewLearnMore %}
{% from 'components/general/components/back-to-top/macro.njk' import backToTop %}
{% from 'components/general/components/warning-callout/macro.njk' import warningCallout %}

{% macro viewSolution(params) %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      {{ viewSolutionHeader(params.solutionHeader) }}

      {% if params.sections['warningCallout'] %}
        {{warningCallout(params.sections['warningCallout'])}}
      {% endif %}

      {{ viewSolutionDescription({
        section: params.sections['solution-description']
      }) }}

      {{ viewFeatures({
        section: params.sections['features']
      }) }}

      {{ viewCapabilities({
        section: params.sections['capabilities']
      }) }}

      {{ viewIntegrations({
        section: params.sections['integrations']
      }) }}

      {{ viewImplementationTimescales({
        section: params.sections['implementation-timescales']
      }) }}

      {{ viewClientApplicationTypes({
        section: params.sections['client-application-types']
      }) }}

      {{ viewHostingTypes({
        sections: params.sections
      }) }}

      {{ viewRoadmap({
        section: params.sections['roadmap']
      }) }}

      {{ viewAboutSupplier({
        section: params.sections['about-supplier']
      }) }}

      {{ viewLearnMore({
        section: params.sections['learn-more']
      }) }}

      {{ viewSolutionContactDetails({
        section: params.sections['contact-details']
      }) }}

      <div class="nhsuk-u-padding-left-3 nhsuk-u-padding-right-3 nhsuk-u-padding-top-5 bc-u-text-align-right">
        {{ backToTop({
          dataTestId: 'back-to-top-link'
        }) }}
      </div>
    </div>
  </div>

{% endmacro %}
