{% from 'components/view/view-epics/macro.njk' import viewEpics %}
{% from 'components/view/view-section-heading/macro.njk' import viewSectionHeading %}
{% from 'components/view/view-data-text/macro.njk' import viewDataText %}

{% macro viewImplementationTimescales(params) %}
  {% if params and params.section.answers.description %}
    <div class="nhsuk-width-container" data-test-id="view-implementation-timescales">
      {{ viewSectionHeading({ text: 'Implementation timescales' }) }}
      <div class="nhsuk-grid-row nhsuk-u-padding-left-3">
        <div class="nhsuk-grid-column-two-thirds">
          {{ viewDataText({
            dataTestId: 'view-question-data-text-description',
            data: params.section.answers.description
          }) }}
        </div>
      </div>
    </div>
  {% endif %}
{% endmacro %}
