{% from 'components/tag/macro.njk' import tag %}
{% from 'components/view-data-title/macro.njk' import viewDataTitle %}
{% from 'components/view-epic-list/macro.njk' import viewEpicList %}

{% macro viewEpics(params) %}
  {% if params.data %}
    <div data-test-id="{{ params.dataTestId }}" class="bc-c-epics {{ params.classes }}">
      <div class="nhsuk-grid-row">
        {% if params.data.must %}
          <div data-test-id="must-epics" class="nhsuk-grid-column-one-half">
            <div>
              {{ tag({
                dataTestId: "must-tag",
                text: "Must epics",
                classes: "bc-c-tag-outline"
              }) }}
            </div>
            {% if params.data.must['met'] %}
              <div data-test-id="must-met-epics">
                <div class="nhsuk-u-padding-top-5">
                  {{ viewDataTitle({
                    title: "Must epics that have been met"
                  }) }}
                </div>
                <div>
                  {{ viewEpicList({
                    dataTestId: "must-met-epic-list",
                    data: params.data.must['met'],
                    type: "met"
                  }) }}
                </div>
              </div>
            {% endif %}
            {% if params.data.must['not-met'] %}
              <div data-test-id="must-not-met-epics">
                <div class="nhsuk-u-padding-top-5">
                  {{ viewDataTitle({
                    title: "Must epics that have not been met"
                  }) }}
                </div>
                <div>
                  {{ viewEpicList({
                    dataTestId: "must-not-met-epic-list",
                    data: params.data.must['not-met'],
                    type: "not-met"
                  }) }}
                </div>
              </div>
            {% endif %}
          </div>
        {% endif %}
        {% if params.data.may %}
          <div data-test-id="may-epics" class="nhsuk-grid-column-one-half">
            <div>
              {{ tag({
                dataTestId: "may-tag",
                text: "May epics",
                classes: "bc-c-tag-outline"
              }) }}
            </div>
            {% if params.data.may['met'] %}
              <div data-test-id="may-met-epics">
                <div class="nhsuk-u-padding-top-5">
                  {{ viewDataTitle({
                    title: "May epics that have been met"
                  }) }}
                </div>
                <div>
                  {{ viewEpicList({
                    dataTestId: "may-met-epic-list",
                    data: params.data.may['met'],
                    type: "met"
                  }) }}
                </div>
              </div>
            {% endif %}
            {% if params.data.may['not-met'] %}
              <div data-test-id="may-not-met-epics">
                <div class="nhsuk-u-padding-top-5">
                  {{ viewDataTitle({
                    title: "May epics that have not been met"
                  }) }}
                </div>
                <div>
                  {{ viewEpicList({
                    dataTestId: "may-not-met-epic-list",
                    data: params.data.may['not-met'],
                    type: "not-met"
                  }) }}
                </div>
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>

  {% endif %}
{% endmacro %}
