{% from 'components/view/components/view-data-text/macro.njk' import viewDataText %}
{% from 'components/view/components/view-expandable-section/macro.njk' import viewExpandableSection %}
{% from 'components/view/components/view-section-heading/macro.njk' import viewSectionHeading %}
{% from 'sections/view-browser-based/macro.njk' import viewBrowserBased %}
{% from 'sections/view-native-mobile/macro.njk' import viewNativeMobile %}
{% from 'sections/view-native-desktop/macro.njk' import viewNativeDesktop %}

{% macro viewClientApplicationTypes(params) %}
  {% if params.section %}
    <div class="nhsuk-width-container" data-test-id="view-client-application-types">
      {{ viewSectionHeading({ text: 'Client application type' }) }}
      <div class="nhsuk-grid-row nhsuk-u-padding-left-3 nhsuk-u-padding-right-3">
        <div data-test-id="view-section-client-application-types-guidance">
          {{ viewDataText({
            dataTestId: 'view-client-application-types-guidance',
            data: 'This Catalogue Solution is supported by the following client application types:',
            classes: 'bc-t-font-color--grey-1 nhsuk-u-margin-bottom-4 nhsuk-grid-column-two-thirds'
          }) }}
        </div>
        <div class="nhsuk-grid-column-full">
          {% if params.section.sections['browser-based'] %}
            {{ viewExpandableSection({
              dataTestId: 'view-section-browser-based',
              title: 'Browser-based application',
              innerComponent: viewBrowserBased({
                section: params.section.sections['browser-based']
              })
            }) }}
          {% endif %}
          {% if params.section.sections['native-mobile'] %}
            {{ viewExpandableSection({
              dataTestId: 'view-section-native-mobile',
              title: 'Native mobile or tablet application',
              innerComponent: viewNativeMobile({
                section: params.section.sections['native-mobile']
              })
            }) }}
          {% endif %}
          {% if params.section.sections['native-desktop'] %}
            {{ viewExpandableSection({
              dataTestId: 'view-section-native-desktop',
              title: 'Native desktop application',
              innerComponent: viewNativeDesktop({
                section: params.section.sections['native-desktop']
              })
            }) }}
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
{% endmacro %}
