{% extends 'views/includes/layout.njk' %}
{% from 'sections/view-client-application-types/macro.njk' import viewClientApplicationTypes %}

{% block body %}
  <h1>View Client Application Types</h1>

  <h3>To use the component</h3>
  <pre><code>
    {% verbatim %}
      {% from 'sections/view-client-application-types/macro.njk' import viewClientApplicationTypes %}

          {{ viewClientApplicationTypes({
            section: {
              sections: {
                'browser-based': {
                  sections: {
                    'browser-browsers-supported': {
                      answers: {
                        'supported-browsers': ['Chrome', 'Firefox'],
                        'mobile-responsive': 'Yes'
                      }
                    },
                    'browser-mobile-first': {
                      answers: {
                        'mobile-first-design': 'Yes'
                      }
                    },
                    'browser-plug-ins-or-extensions': {
                      answers: {
                        'plugins-required': 'Yes',
                        'plugins-detail': 'Some plugin detail'
                      }
                    },
                    'browser-connectivity-and-resolution': {
                      answers: {
                        'minimum-connection-speed': '1Mbps',
                        'minimum-desktop-resolution': '4:3 800 x 600'
                      }
                    },
                    'browser-hardware-requirements': {
                      answers: {
                        'hardware-requirements-description': 'Lorem ipsum dolor sit amet consectetur adipiscing elit, viverra ad torquent et lectus malesuada, natoque fermentum scelerisque urna mauris auctor. Sociis class lacinia ante per non cras aenean, morbi sem blandit praesent mus imperdiet hac, egestas diam congue donec phasellus sapien. Tempor ultricies porttitor fames potenti vestibulum maecenas montes orci elementum ligula, in id magna nascetur laoreet suspendisse ullamcorper porta justo, vivamus habitasse ridiculus eleifend taciti primis quisque consequat penatibus.'
                      }
                    },
                    'browser-additional-information': {
                      answers: {
                        'additional-information': 'Lorem ipsum dolor sit amet consectetur adipiscing elit'
                      }
                    }
                  }
                },
                'native-mobile': {
                  sections: {
                    'native-mobile-operating-systems': {
                      answers: {
                        'operating-systems': ['Apple IOS', 'Android', 'Other'],
                        'operating-systems-description': 'Android 4.1 and above, IOS 10.6 and above.'
                      }
                    },
                    'native-mobile-first': {
                      answers: {
                        'mobile-first-design': 'Yes'
                      }
                    },
                    'native-mobile-memory-and-storage': {
                      answers: {
                        'minimum-memory-requirement': '4GB',
                        'storage-requirements-description': 'You will need at least 4GB of free space on each device the application is installed. It is advised to use an external SD card for additional storage.'
                      }
                    },
                    'native-mobile-connection-details': {
                      answers: {
                        'minimum-connection-speed': '1Mbps',
                        'connection-types': ['GPRS','3G','4G','Wifi'],
                        'connection-requirements-description': 'Average data usage will vary depending on application activity.'
                      }
                    },
                    'native-mobile-third-party': {
                      answers: {
                        'third-party-components': 'The application supports and requires an authenticator on each device the application is installed. You will need a software-based authenticator that implements a two-step verification service.',
                        'device-capabilities': 'In order to use our file hosting services, the application will require permission to access device storage.'
                      }
                    },
                    'native-mobile-hardware-requirements': {
                      answers: {
                        'hardware-requirements': 'To fully utilise our print functionality within the application, you will need a WiFi or Bluetooth connected printer to connect and print documents straight from the device.'
                      }
                    },
                    'native-mobile-additional-information': {
                      answers: {
                        'additional-information': 'It is possible that it may install on other platforms or versions not listed in this section. However, support is limited to systems that meet the minimum requirements.'
                      }
                    }
                  }
                },
                'native-desktop': {
                  sections: {
                    'native-desktop-operating-systems': {
                      answers: {
                        'operating-systems-description': 'Windows 7 and above.'
                      }
                    }
                  }
                }
              }
            }
          }) }}
    {% endverbatim %}
  </code></pre>

  <h3>Rendered component</h3>
  {{ viewClientApplicationTypes({
    section: {
      sections: {
        'browser-based': {
          sections: {
            'browser-browsers-supported': {
              answers: {
                'supported-browsers': ['Chrome', 'Firefox'],
                'mobile-responsive': 'Yes'
              }
            },
            'browser-mobile-first': {
              answers: {
                'mobile-first-design': 'Yes'
              }
            },
            'browser-plug-ins-or-extensions': {
              answers: {
                'plugins-required': 'Yes',
                'plugins-detail': 'Some plugin detail'
              }
            },
            'browser-connectivity-and-resolution': {
              answers: {
                'minimum-connection-speed': '1Mbps',
                'minimum-desktop-resolution': '4:3 800 x 600'
              }
            },
            'browser-hardware-requirements': {
              answers: {
                'hardware-requirements-description': 'Lorem ipsum dolor sit amet consectetur adipiscing elit, viverra ad torquent et lectus malesuada, natoque fermentum scelerisque urna mauris auctor. Sociis class lacinia ante per non cras aenean, morbi sem blandit praesent mus imperdiet hac, egestas diam congue donec phasellus sapien. Tempor ultricies porttitor fames potenti vestibulum maecenas montes orci elementum ligula, in id magna nascetur laoreet suspendisse ullamcorper porta justo, vivamus habitasse ridiculus eleifend taciti primis quisque consequat penatibus.'
              }
            },
            'browser-additional-information': {
              answers: {
                'additional-information': 'Lorem ipsum dolor sit amet consectetur adipiscing elit'
              }
            }
          }
        },
        'native-mobile': {
          sections: {
            'native-mobile-operating-systems': {
              answers: {
                'operating-systems': ['Apple IOS', 'Android', 'Other'],
                'operating-systems-description': 'Android 4.1 and above, IOS 10.6 and above.'
              }
            },
            'native-mobile-first': {
              answers: {
                'mobile-first-design': 'Yes'
              }
            },
            'native-mobile-memory-and-storage': {
              answers: {
                'minimum-memory-requirement': '4GB',
                'storage-requirements-description': 'You will need at least 4GB of free space on each device the application is installed. It is advised to use an external SD card for additional storage.'
              }
            },
            'native-mobile-connection-details': {
              answers: {
                'minimum-connection-speed': '1Mbps',
                'connection-types': ['GPRS','3G','4G','Wifi'],
                'connection-requirements-description': 'Average data usage will vary depending on application activity.'
              }
            },
            'native-mobile-third-party': {
              answers: {
                'third-party-components': 'The application supports and requires an authenticator on each device the application is installed. You will need a software-based authenticator that implements a two-step verification service.',
                'device-capabilities': 'In order to use our file hosting services, the application will require permission to access device storage.'
              }
            },
            'native-mobile-hardware-requirements': {
              answers: {
                'hardware-requirements': 'To fully utilise our print functionality within the application, you will need a WiFi or Bluetooth connected printer to connect and print documents straight from the device.'
              }
            },
            'native-mobile-additional-information': {
              answers: {
                'additional-information': 'It is possible that it may install on other platforms or versions not listed in this section. However, support is limited to systems that meet the minimum requirements.'
              }
            }
          }
        },
        'native-desktop': {
          sections: {
            'native-desktop-operating-systems': {
              answers: {
                'operating-systems-description': 'Windows 7 and above.'
              }
            }
          }
        }
      }
    }
  }) }}
{% endblock %}
