{% extends 'views/includes/layout.njk' %}
{% from 'sections/view-client-application-types/macro.njk' import viewClientApplicationTypes %}

{% block body %}
  <h1>View Client Application Types</h1>

  <h3>To use the component</h3>
  <pre><code>
    {% verbatim %}
      {% from 'sections/view-client-application-types/macro.njk' import viewClientApplicationTypes %}

      {{ viewClientApplicationTypes({
        section: {
          sections: {
            'browser-based': {
              sections: {
                'browsers-supported': {
                  answers: {
                    'supported-browsers': ['Chrome', 'Firefox'],
                    'mobile-responsive': 'Yes'
                  }
                },
                'plug-ins-or-extensions': {
                  answers: {
                    'plugins-required': 'Yes',
                    'plugins-detail': 'Some plugin detail'
                  }
                },
                'browser-hardware-requirements': {
                  answers: {
                    'hardware-requirements-description': 'Lorem ipsum dolor sit amet consectetur adipiscing elit, viverra ad torquent et lectus malesuada, natoque fermentum scelerisque urna mauris auctor. Sociis class lacinia ante per non cras aenean, morbi sem blandit praesent mus imperdiet hac, egestas diam congue donec phasellus sapien. Tempor ultricies porttitor fames potenti vestibulum maecenas montes orci elementum ligula, in id magna nascetur laoreet suspendisse ullamcorper porta justo, vivamus habitasse ridiculus eleifend taciti primis quisque consequat penatibus.'
                  }
                }
              }
            }
          }
        }
      }) }}
    {% endverbatim %}
  </code></pre>

  <h3>Rendered component</h3>
  {{ viewClientApplicationTypes({
    section: {
      sections: {
        'browser-based': {
          sections: {
            'browsers-supported': {
              answers: {
                'supported-browsers': ['Chrome', 'Firefox'],
                'mobile-responsive': 'Yes'
              }
            },
            'plug-ins-or-extensions': {
              answers: {
                'plugins-required': 'Yes',
                'plugins-detail': 'Some plugin detail'
              }
            },
            'browser-hardware-requirements': {
              answers: {
                'hardware-requirements-description': 'Lorem ipsum dolor sit amet consectetur adipiscing elit, viverra ad torquent et lectus malesuada, natoque fermentum scelerisque urna mauris auctor. Sociis class lacinia ante per non cras aenean, morbi sem blandit praesent mus imperdiet hac, egestas diam congue donec phasellus sapien. Tempor ultricies porttitor fames potenti vestibulum maecenas montes orci elementum ligula, in id magna nascetur laoreet suspendisse ullamcorper porta justo, vivamus habitasse ridiculus eleifend taciti primis quisque consequat penatibus.'
              }
            }
          }
        }
      }
    }
  }) }}
{% endblock %}