name: publish to NPM

on: [push]

jobs:
  build:
    
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
      with:
        node-version: '12.x'
        registry-url: https://registry.npmjs.org/

    - name: Running npm install
      run: npm install

    - name: Running npm run test
      run: npm run test

    - run: npm run publish
      env: 
        NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
