{% extends 'views/includes/layout.njk' %}
{% from 'components/view-data-title/macro.njk' import viewDataTitle %}

{% block body %}
  <h1>View data title component</h1>

  <h3>To use the component</h3>
  <pre><code>
    {% verbatim %}
      {% from 'components/view-data-title/macro.njk' import viewDataTitle %}

      {{ viewDataTitle({
          dataTestId: 'some-test-identifier',
          title: 'Title',
          classes: 'another-class'
      }) }}
    {% endverbatim %}
  </code></pre>

  <h3>Rendered component</h3>
  {{ viewDataTitle({
    dataTestId: 'some-test-identifier',
    title: 'Title',
    classes: 'another-class'
  }) }}
{% endblock %}
